@model CartListViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sepetiniz</h2>

@if (Model.Cart.CartLines.Count == 0)
{
    <h5 class="alert alert-danger">Sepetiniz Boş</h5>
}
else
{
    <table class="table table-responsive">

        <thead>
            <tr>
                <th>Id</th>
                <th>Ürün Adı</th>
                <th>Açıklama</th>
                <th>Fiyat</th>
                <th>Stok Adedi</th>
                <th>Satış Adedi</th>
                
            </tr>
        </thead>
        @foreach (var cartLine in Model.Cart.CartLines)
        {

            <tbody>
                <tr>
                    <td>@cartLine.Product.ProductId</td>
                    <td>@cartLine.Product.ProductName</td>
                    <td>@cartLine.Product.QuantityPerUnit</td>
                    <td>@cartLine.Product.UnitPrice</td>
                    <td>@cartLine.Quantity</td>
                    <td><a class="btn btn-sm btn-danger " asp-controller="Cart" asp-action="RemoveFromCart" asp-route-productId="@cartLine.Product.ProductId">Sil</a></td>
                </tr>
                
            </tbody>
        }
        
        <tr>
            <td><strong>Toplam :</strong>  @Model.Cart.Total</td>
        </tr>
    </table>
    @*<li>
        <a><span class="glyphicon glyphicon-align-left glyphicon-shopping-cart" aria-hidden="true"></span>@Model.Cart.Total</a>
    </li>*@
    
}
<a class="btn btn-primary " asp-controller="Cart" asp-action="Complete" >İlerle</a>

